:root{

    --Primary: #5e5c64;
    --Secondary: #14131b;
    --PrimaryButton: #2ec27e ;
    --SecondaryButton: #57e389 ;
    --Accent: #2ec27e ;
    --White : #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--Accent);
    border-radius: 1em;
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-corner{
    display: none;
}

    
h1{
    color: var(--Primary);
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
}

p{
   display: none;
}

.swal2-styled button{
    background-color: var(--Accent);
}



