body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Primary);
}

.container__form {
    width: 90vw;
    height: 90vh;
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;;

}



.form__img {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--Accent);
    padding: 1rem;
    animation: img-light-to-dark .4s ease-in-out;
}
.form__img.dark{
    background-color:gray ;
    animation: img-dark-to-light .4s ease-in-out
}
.form__img img {
    width: 100%;
}
.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    overflow: scroll;
    animation: light-to-dark .4s ease-in-out ;
    
}
.form.dark{
    background-color:var(--Primary) ;
    animation: dark-to-light .4s ease-in-out ;
}


.form__title{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5VW;
    left: 20vw;
    bottom: 30vw;
    position: absolute;
}
.form__title h1 {
    color: var(--Accent);
    font-size: 36px;
    position: absolute;
}

.form__title h1::after {
    content: '';
    display: flex;
    width: 10rem;
    height: 0.3rem;
    background-color: var(--Accent);
    margin: 0 auto;
    border-radius: 10px;
}


.navBottom{
    display: flex;
    align-items: center;
    justify-content:start;
    flex-direction: row;
    position: relative;
    left: 0;
    border-radius: 1rem;
    width: 0%;
    transition: all 1s;
    
}
.navBottom i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding:13px;
    font-size: 2rem;
    color: var(--Accent);
    
}
.navBottom{
    width: 100%;
    
}

.navMenu{
    color: var(--Accent);
}

.navOptions.active{
    width: 100%;
}
.navOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 0%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius:5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    gap: 2em;
    overflow-x:hidden;
    transition: all .8s ease-in-out;
}

.navOptions h3 {
    color: var(--Accent);
    font-size: 13px;
    font-weight:bold;
    cursor: pointer;
    position: relative;
    
}
.navOptions h3:hover{
    font-size: 16px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    transition: all .5s ease-in-out;
}



.input__group {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    position: relative;
    gap: 2rem;
    width: 100%;
    margin-top: 1em;
    padding: 3rem 0rem;
}

.osTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
}

.osTitle h1 {
    color: var(--Accent);
    font-size: 1.5rem;
}



.input__box {
    display: flex;
    align-items:start;
    justify-content:start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25vh;
    font-size: 12px;
    font-weight: 700;
    color:gray;
}


.input__box input,
select,
textarea {
    padding: .6rem 1.1rem;
    border: none;
    width: 100%;
    border-radius: 10px;
    background-color: #fffeff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.input__box#endereco {
    width: 100%;
}

.obs{
    width: 100%;
}
.input__box#ping{
    display: flex;
    flex-direction: column;
}

.input__box.adObs{
    width: 100%;
}
.input__box.rpObs{
    width: 70%;
}
.input__box select {
    cursor: pointer;
}

.input__box.dark{
    color: var(--Accent);
}

.input__box input::placeholder {
    color: #000000be;
}
#criar__button{
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
    bottom: 0;
    width: 100%;
    
}
#criar__button button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 10em;
    border: none;
    background-color: var(--Accent);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
}

#criar__button button:hover {
    background-color: var(--Accent);
    opacity: 80%;
}

.logout__button {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    padding: 0.5em;
}

.logout__button button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Accent);
    border: none;
    width: 3rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.logout__button a {
    text-decoration: none;
    color: black;
}

.logout__button button:hover {
    opacity: 80%;
}




.osTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    
}


.option {
    width: 100%;
}

.option a {
    text-decoration: none;
    color: black;
}
.OS{
    display: none;
}


.dkMode{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: .5em;
    margin-left: 2em;
    top: 0;
    left: 0;
}

.dkMode i{
    font-size: 1.5em;
    
}

.fa-toggle-off{
color: rgb(193, 193, 193);
animation: menu-light-to-dark 1.3s ease-in-out
}
.fa-toggle-on{
    color: var(--Accent);
    animation: menu-dark-to-light 1.3s ease-in-out
}

@keyframes menu-dark-to-light {
    0%{
        color:rgb(193, 193, 193);
    }

    100%{
        color: var(--Accent);
    }
}

@keyframes menu-light-to-dark {
    100%{
        color: rgb(193, 193, 193);
    }
    0%{
        color: var(--Primary);
    }

}

@keyframes img-dark-to-light {
    0%{
        background-color: var(--Accent);
    }

    100%{
        background-color: gray;
    }
}
@keyframes img-light-to-dark {
    100%{
        background-color: var(--Accent);
    }
    0%{
        background-color: gray;
    }

}

@keyframes dark-to-light {
    0%{
        background-color: white;
    }

    100%{
        background-color: var(--Primary);
    }
}
@keyframes light-to-dark {
    100%{
        background-color: white;
    }
    0%{
        background-color: var(--Primary);
    }

}



@media screen and (max-width:1360px){
    .form__img{
        display: none;
    }
}